a:link {
    color: black;
}

a:visited {
    color: grey;
}

a:hover {
    color: blue;
}

a:active {
    color: yellow;
}

img:hover {
    border-radius: 50%;
}

img {
    max-width: 60%;
}

b.money::before {
    content: "Học phí:";
}

b.money::after {
    content: "VND";
}